[submodule "Ros_code/rosserial"]
	path = Ros_code/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "catkin_ws/catkin_ws/src/rosserial"]
	path = catkin_ws/catkin_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
