<?xml version="1.0"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.08 0 0.07 0 0 0 base_link laser 30" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 odom base_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 30" />


  <!-- Arguments -->
    <arg name="open_rviz" default="true"/>
    <arg name="move_forward_only" default="false"/>
    
    
    <param name="robot_description" command="$(find xacro)/xacro '$(find mobile_manipulator_body)/urdf/robot_base.urdf.xacro'"/>
    <!-- Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="use_gui" value="false"/>
    </node>
    <!-- Robot State Publisher --> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

    <!-- Map server -->
    <arg name="map_file" default="$(find navstack_pub)/maps/my_map_lab.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

    <!-- AMCL -->
    <include file="$(find navstack_pub)/launch/amcl.launch"/>

    <!-- move_base -->
    <include file="$(find navstack_pub)/launch/move_base.launch">
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>